@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: 'Italianno';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 12px;
  background-color: rgb(99, 98, 98);
}

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to bottom, #1A2257,#101433);
  border-radius: 10px;
}