@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url("../public/fundo.png");
    background-size:100%;
    background-repeat: no-repeat;
    font-family: 'Italianno';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 12px;
  background-color: rgb(99, 98, 98);
}

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to bottom, rgb(102, 2, 102),rgb(44, 9, 44));
  border-radius: 10px;
}